ul#navigation {
    position: fixed;
    margin: 0px;
    padding: 0px;
    top: 100px;
    left: 0px;
    list-style: none;
    z-index:9999;
}
ul#navigation li {
    width: 100px;
}
ul#navigation li a {
    display: block;
    margin-left: -2px;
    width: 100px;
    height: 70px;    
    background-color:#0092BF;
	background-position:center;
	background-repeat:no-repeat;
    border:1px solid #0092BF;
    -moz-border-radius:0px 10px 10px 0px;
    -webkit-border-bottom-right-radius: 10px;
    -webkit-border-top-right-radius: 10px;
    -khtml-border-bottom-right-radius: 10px;
    -khtml-border-top-right-radius: 10px;
    opacity: 1;
    filter:progid:DXImageTransform.Microsoft.Alpha(opacity=60);
}

ul#navigation .home a      {
    background-image: url(../imgApp/home-1.png);
}

ul#navigation .news a      {
    background-image: url(../imgApp/rss-1.png);
}
ul#navigation .followers a      {
    background-image: url(../imgApp/friends-1.png);
}

